<mat-card class="footer-card">
  <mat-card-content>
    <div class="footer-content">
      <div class="footer-grid">
        <div class="footer-item" [routerLink]="['/home']">Home</div>
        <div class="footer-item" [routerLink]="['/project']">Project</div>
        <div class="footer-item" [routerLink]="['/service']">Service</div>
        <div class="footer-item" [routerLink]="['/contactDetails']">Contact Details</div>
        <div class="footer-item" [routerLink]="['/about']">About</div>
        <div class="footer-item" [routerLink]="['/contact']">Contact</div>
      </div>

      <div class="social-media">
        <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    <p>&copy; 2024 Vineetha Kondepudi. All rights reserved.</p>
  </mat-card-content>
</mat-card>
