footer {
  padding: 20px;
  background-color: #3f51b5;
  color: white;
  text-align: center;
}

.footer-card {
  background-color: #3f51b5;
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 10px; /* Space between items */
  text-align: left; /* Align text to the left */
  padding: 10px 0;
}

.footer-item {
  padding: 5px 0;
  border-bottom: 2px solid white;
  cursor: pointer;
  margin-right: 90px;
  margin-left: 90px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px; /* Adjust spacing between icons */
  margin: 10px 0; /* Space between social media icons and copyright text */
}

.social-media a {
  color: inherit; /* Inherit color from parent */
  font-size: 24px; /* Adjust icon size */
  text-decoration: none; /* Remove underline */
}

.footer-card p {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}
